@tailwind base;
@tailwind components;
@tailwind utilities;

/* 特殊CSS Util */
.backface-hidden{
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.perspective-1500{
    perspective: 1500px;
}